<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/resetpassword" method="post">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" autocomplete="username" required><br><br>
        <label for="currentpassword">current password:</label>
        <input type="password" id="currentpassword" name="currentpassword" autocomplete="currentpassword" required><br><br>
        <label for="newpassword">new password:</label>
        <input type="password" id="newpassword" name="newpassword" autocomplete="newpassword" required><br><br>
        <label for="confirmnewpassword">confirm new password:</label>
        <input type="password" id="confirmnewpassword" name="confirmnewpassword" autocomplete="confirmnewpassword" required><br><br>
        <button type="submit">Change Password</button>
    </form>
    <a href="/">Back</a>
</body>
</html>
